{% extends "index.html" %}
{% block titulo %} BOLTS{% endblock %}
{% block home %}
{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static "css/estilos.css"%}">
</head>
<body style="background-color:#8daef0;" class="container">
  <center>
    <div class="row d-flex justify-content-center w-100 p-5">
      <div class="col-6 border p-4">
    <h1>AppAdministracion</h1>
    {% if user.is_authenticated %}
        <p>El usuario {{user.username}} se encuentra autenticado</p>
    {% else %}
        <p>lo lamento pero no se encuentra autenticado, inicie sesión en el siguiente link</p>
        <a href="login">Iniciar sesión</a>
        <p>si no tiene usuario puede registrarse en el sigueinte link</p>
        <a href="registro">Registrese</a>
    {% endif %}
  </div>
  </div>
<h1 style="background-color:#d8d9dc; font-size:30px; Font-Weight:600; font-size:50px;";><i class='fa fa-fw fa-cogs'></i> AppAdministracion <i class='fa fa-fw fa-cogs'></i></h1>

</body>
<div class="elementor-widget-container">
  <p>Copyrights © 2022</p>
</div>


</html>

{% endblock %}

