{% extends "index.html" %} {% block titulo %} Listado de Articulos {% endblock %} {% block body %}
<h1>Listado de Articulos </h1>
<form action="filtroVehiculo" method="GET">

    <h3>Busqueda avanzada</h3>
    <h4>{{mensaje}}</h4>
    <!--Se incorpora mejora visual de la busqueda avanzada-->
    <div class="row">
      <div class="col">
        <input type="text" name= "patente" class="form-control" placeholder="Ingrese patente" aria-label="patente">
      </div>
      <div class="col">
        <input type="text" name= "numero_chasis" class="form-control" placeholder="Ingrese numero chasis" aria-label="numero_chasis">
      </div>
      <div class="col">
        <input type="text" name= "marca" class="form-control" placeholder="Ingrese marca" aria-label="marca">
      </div>
      <div class="col">
        <input type="text" name= "modelo" class="form-control" placeholder="Ingrese modelo" aria-label="modelo">
      </div>        
      <ul></ul><ul></ul><ul></ul>
      <div class="col-12">
        <button type="submit" class="btn btn-success btn-block">Buscar</button>
        <button type="reset" class="btn btn-danger btn-block" onclick="document.location.href='listarVehiculo'">Limpiar</button>
      </div>
    </div>
  </form>



    <table class="table">
        <thead>
            
          <tr>
            <th scope="col">Patente</th>
            <th scope="col">Numero de Chasis </th>
            <th scope="col">Marca</th>
            <th scope="col">Modelo</th>
            <th scope="col">Ultima Revision</th>
            <th scope="col">Proxima Revision</th>
            <th scope="col">Observaciones</th>
        
          </tr>
        </thead>
        <tbody>
            <tbody>
                {% for z in vehiculos %}
                <tr>
                    <td>{{z.patente}}</td>
                    <td>{{z.numero_chasis}}</td>
                    <td>{{z.marca}}</td>
                    <td>{{z.modelo}}</td>
                    <td>{{z.ultima_revision}}</td>
                    <td>{{z.proxima_revision}}</td>
                    <td>{{z.observaciones}}</td>
                
                </tr>
                {% endfor %}
            </tbody>
            <tbody>
                {% if fullVehiculo %}
                <h4>El filtro de busqueda es: {{query}}</h4>
                <h4>La cantidad de registros es {{contador}}</h4>
  
                    {% for q in fullVehiculo %}
  
                    <tr>
                        <td>{{q.patente}}</td>
                        <td>{{q.numero_chasis}}</td>
                        <td>{{q.marca}}</td>
                        <td>{{q.modelo}}</td>
                        <td>{{q.ultima_revision}}</td>
                        <td>{{q.proxima_revision}}</td>
                        <td>{{q.observaciones}}</td>                
                    </tr>
                    {% endfor %}
                {% endif %}
          
      </table>


{% endblock %}